<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <script type="text/javascript">
        var app_id = "${APP_ID}";
        var site_url = "${SITE_URL}";
        var static_url = "${STATIC_URL}";
    </script>
    <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo"> </a>
                        </div>
                        <ul class="nav navbar-nav pull-center m0">
                            <li><a href="javascript:void(0);">主机列表</a></li>
                        </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                        <span>admin</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <!-- Button trigger modal -->
                    <button type="button" data-toggle="modal" data-target="#myModal">
                      新增主机
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新增服务器</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group clearfix ">
                                <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                                    <div class="col-sm-9">
                                        <select name="" id="business_body" class="form-control bk-valign-top" onclick="getHostByBiz()" style="width:300px;">
                                            <option value="选择项">---</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group clearfix ">
                                <label class="col-sm-3 control-label bk-lh30 pt0">选择主机：</label>
                                    <div class="col-sm-9">
                                        <select name="" id="host_body" class="form-control bk-valign-top" style="width:300px;">
                                            <option value="选择项">---</option>
                                        </select>
                                    </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="addHost(this)">保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-9">
                        <label>IP：</label>
                        <input type="text" id="search_host" placeholder="输入ip关键字查询">
                        <button type="button" class="mr10" onclick="initRanger(this)">查询</button>
                    </div>
                </div>
                <table class="table mb0 pr15 ranger-box2">
                    <thead>
                        <tr>
                            <th>主机IP</th>
                            <th>主机名称</th>
                            <th>所属业务</th>
                            <th>云区域</th>
                            <th>操作系统类型</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="h_tbody">
                        %if hosts:
                            % for host in hosts:
                            <tr id="host_${host['bk_host_id']}">
                                <td>${host['bk_host_innerip']}</td>
                                <td>${host['bk_host_name']}</td>
                                <td>${host['bk_biz_name']}</td>
                                <td>${host['bk_inst_name']}</td>
                                <td>${host['bk_os_name']}</td>
                                <td>${host['remark']}</td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#changeModel"
                                        data-ip="${host['bk_host_innerip']}" data-biz="${host['bk_biz_name']}" data-remark="${host['remark']}">修改</button>
                                    <button class="btn btn-xs btn-success">查看性能</button>
                                    <button type="button" class="btn btn-xs btn-danger" onclick="delHost(${host['bk_host_id']})"> 删除 </button>
                                </td>
                            </tr>
                            % endfor
                        % else:
                            <tr>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                                <td>/</td>
                            </tr>
                        % endif
                    </tbody>
                </table>
                <!-- 设置面板End -->
                <template id="host_tpl">
                    <tr id="host_#bk_host_id#">
                        <td>#bk_host_innerip#</td>
                        <td>#bk_host_name#</td>
                        <td>#bk_biz_name#</td>
                        <td>#bk_inst_name#</td>
                        <td>#bk_os_name#</td>
                        <td>#remark#</td>
                        <td>
                            <button type="button" data-ip='#bk_host_innerip#' data-biz='#bk_biz_name#' data-remark='#remark#' class="btn btn-xs btn-success" data-toggle="modal" data-target="#changeModel">修改</button>
                            <button class="btn btn-xs btn-success">查看性能</button>
                            <button type="button" class="btn btn-xs btn-danger" onclick="delHost('#bk_host_id#')"> 删除 </button>
                        </td>
                    </tr>
                </template>
                <!-- 选择业务面板START -->
                <template id="business_tpl">
                    <option value="#bk_biz_id#">#bk_biz_name#</option>
                </template>
                <!-- 选择业务面板End -->
                <!-- 选择主机面板START -->
                <template id="host_name_tpl">
                    <option value="#bk_host_innerip#">#bk_host_innerip#</option>
                </template>
                <!-- 选择主机面板End -->
                <div class="container-fluid mb0 ">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </form>
            <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade" id="changeModel" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                                <div class="col-sm-9">
                                    <select name="" id="change_biz" class="form-control bk-valign-top" disabled style="width:300px;">
                                        <option value="选择项"></option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">选择主机：</label>
                                <div class="col-sm-9">
                                    <select name="" id="change_host" class="form-control bk-valign-top" disabled style="width:300px;">
                                        <option value="选择项"></option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">备注：</label>
                                <div class="col-sm-9">
                                     <textarea rows="2" class="form-control bk-valign-top" id="change_remark" style="width: 300px"> </textarea>
                                </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="updateHost(this)">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
            getBusiness(this)
        })

        $("#changeModel").on('show.bs.modal', function(res) {
        var btn = $(res.relatedTarget );
        var host_ip = btn.data('ip');
        var biz_name = btn.data('biz');
        var remark = btn.data('remark');

        $('#change_biz').html("<option>" + biz_name + "</option>");
        $('#change_host').html("<option>" + host_ip + "</option>");
        $('#change_remark').html(remark);
        })

        function getBusiness() {
            $.ajax({
                url: '${SITE_URL}search_business/',
                type: 'GET',
                dataType: 'json',
                success: function(res){
                    if (res.code == 0){
                        var _html = ' ';
                        var list = res.data;
                        var tpl = $('#business_tpl').html();
                        if (list.length == 0){
                            _html = '';
                        }else {
                            for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }}
                        $('#business_body').html(_html);
                        getHostByBiz(this)
                    }
                }
            });
        }

        function getHostByBiz() {
            $.ajax({
                url: '${SITE_URL}get_host/',
                type: 'GET',
                dataType: 'json',
                data: {bk_biz_id: $("#business_body").val()},
                success: function(res){
                    if (res.code == 0){
                        var _html = ' ';
                        var list = res.data;
                        var tpl = $('#host_name_tpl').html();
                        if (list.length == 0){
                            _html = '';
                        }else {
                            for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }}
                        $('#host_body').html(_html);
                    }
                }
            });
        }

        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        function initRanger() {
            // 异步请求后台数据
            $.ajax({
                url: '${SITE_URL}search_host',
                type: 'GET',
                dataType: 'json',
                data: {ip: $('#search_host').val()},
                success: function(res){
                    if (res.code == 0){
                        var _html = ' ';
                        var list = res.data;
                        var tpl = $('#host_tpl').html();
                        if (list.length == 0){
                            _html = '';
                        }else {
                            for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }}
                        $('#h_tbody').html(_html);
                    }
                }
            });
        }

        function addHost() {
            $.ajax({
                url: '${SITE_URL}add_host/',
                type: 'POST',
                dataType: 'json',
                data: {ip: $("#host_body").val()},
                success: function(res){
                    if (res.result){
                        alert(res.message)
                        initRanger({})
                    }else {
                        alert(res.message)
                    }
                }
            });
        }

        function updateHost() {
            $.ajax({
                url: '${SITE_URL}update_host/',
                type: 'POST',
                dataType: 'json',
                data: {ip: $("#change_host").val(), remark: $("#change_remark").val()},
                success: function(res){
                    if (res.result){
                        alert(res.message)
                        initRanger({})
                        $('#changeModel').modal('hide');
                    }else {
                        alert(res.message)
                    }
                }
            });
        }

        function delHost(host_id) {
            $.ajax({
                url: '${SITE_URL}del_host/',
                type: 'POST',
                dataType: 'json',
                data: {host_id: host_id},
                success: function(res){
                    if (res.result){
                        alert(res.message)
                        initRanger({})
                    }else {
                        alert(res.message)
                    }
                }
            });
        }
    </script>
</body>

</html>